<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key ="Title" value="应急物资供应计算程序"></add>
    <add key="Parent" value="计算物资供应"></add>
    <add key="ResourceVisible"  value ="true"></add>
    <add key="PersonVisible"  value ="true"></add>

    <!-- 在路径的起点寻找仓库时的缓冲半径-->
    <add key="SearchRadius" value="1000"></add>
  </appSettings>
</configuration>


